.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 15px;
  box-shadow: 0px -1px 5px 0px black;

  .left-column {
    display: flex;
    font-size: 20px;
    gap: 20px;

    a {
      text-decoration: none;
      color: black;
    }

    .active {
      color: #66ff66;
    }
  }

  .right-column {
    button {
      font-size: 18px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
