.portfolio-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 21px;
  height: calc(100vh - 48px);
  overflow-y: scroll;

  h2 {
    align-self: center;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-bottom: 0;
  }

  .portfolio-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 70%;
    border: 1px solid black;
    border-radius: 10px;

    &:last-child {
      margin-bottom: 15px;
    }

    img {
      height: 300px;
      width: 100%;
      border-radius: 10px;
    }

    .text-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      margin-top: 5px;

      .name,
      button {
        font-size: 1.8rem;
      }

      .name {
        cursor: default;
      }

      .actions-wrapper {
        display: flex;
        gap: 10px;

        button {
          background-color: transparent;
          border: 2px solid transparent;
          border-radius: 5px;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }

        .edit {
          color: #38c738;

          &:hover {
            color: #289028;
          }
        }

        .delete {
          color: #c21313;

          &:hover {
            color: #7e0c0c;
          }
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
}
