.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2.2rem;
    margin-bottom: 2%;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;

    img {
      margin-top: 1.2%;
    }

    .paragraphs-wrapper {
      p {
        text-indent: 3.5rem;
        font-size: 1.5rem;
        line-height: 1.6;
        margin-bottom: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
