.homepage-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2%;

  .projects-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .name-image-wrapper {
      display: flex;
    }
  }
}
