.homepage-container {
  display: flex;
  flex-direction: column;

  .data-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .item-wrapper {
      .portfolio-item-wrapper {
        position: relative;

        img {
          width: 50%;
        }

        .logo {
          position: absolute;
          display: none;
        }
      }

      &:hover {
        .logo {
          display: block;
        }
      }
    }
  }
}
