.homepage-container {
  display: flex;
  flex-direction: column;

  .filter-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 30px;

    button {
      color: #fff;
      background-color: #3ac4cb;
      border: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #1e7777;
      }
    }
  }

  .data-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .item-wrapper {
      display: flex;
      justify-content: center;

      .portfolio-item-wrapper {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }

        .thumbnail {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 350px;
          width: 100%;
        }

        .logo {
          transition: all 0.3s ease-in-out;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:hover {
        .logo {
          opacity: 1;
        }
      }
    }
  }
}
